.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
}

.row {
  display: flex;
}

.container.flex-column {
  display: flex;
  justify-content: space-between;
}

.container.flex-column .row {
  flex-direction: column;
}

.col {
  background: red;
  width: 50px;
  height: 25px;
  margin: 10px;
}